{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block content %}
<div class="container mt-20">


<div class="w-full max-w-md grid grid-cols-1 mx-auto">
    
    <form action="{% url 'add_review' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'line_item' %}
                            <input type="hidden" value="{{ lineitem.id }}" name="lineitem" id="lineitem">
                        {% elif field.name == 'store_answer' %}
                        {% elif field.name == 'rating' %}
                        <div class="flex items-center">
                            <button id="decrement-rating" class="remove-1 inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                <span class="sr-only">Decrement button</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                </svg>
                            </button>
                            <div>
                                <input class="qty-input" type="number"  id="rating" name="rating" value="{{ bag_item.quantity }}" required />
                            </div>
                            <button id="increment-rating" class="add-1 inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                <span class="sr-only">Increment button</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                </svg>
                            </button>
                        </div>
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-end">
                        <button type="reset" class="btn btn-left">Cancel</a>
                        <button class="btn btn-right" type="submit">Submit review</button>
                    </div>
                </form>
    
</div>

{% endblock %}