{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-20">
    <div class="grid grid-cols-1 gap-4 w-full max-w-md mx-auto">
        <h1 class="mb-4 text-2xl font-bold leading-none tracking-tight text-yellow-900 md:text-3xl lg:text-4xl dark:text-white">Change Password</h1>
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
    </div>
</div>
{% endblock content %}
