{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/c18c39146b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Django Store Test {% block extra_title %}{% endblock %}</title>
  </head>
  <body id="body">
    <header class="w-full mb-0" id="topnav">
      {% include 'includes/main-nav.html' %}
      <div id="delivery-banner" class="bg-black mb-0 mt-0">
        <h4 class="logo-font text-center text-yellow-200 mt-3 mb-0">Free delivery on orders over ${{ free_delivery_treshold }}!</h4>
      </div> 
    </header>
    <div class="max-h-[0px] overflow-visible grid justify-items-center" id="messages">

      {% if messages %}
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
          {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
          {% else %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
      {% endif %}
    </div>

    {% block content_title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js">
    import { Popover } from 'flowbite';
    </script>
    <script type="text/javascript">
    
      $('#dashboard').on('click', function() {
        window.location.href="{% url 'dashboard' %}"
      })
      $('#login').on('click', function() {
        window.location.href="{% url 'account_login' %}"
      })
      $('#signup').on('click', function() {
        window.location.href="{% url 'account_signup' %}"
      })
      $('#add-product').on('click', function() {
        window.location.href="{% url 'add_product' %}"
      })
      $('#view-bag').on('click', function() {
        window.location.href="{% url 'view_bag' %}"
      })
      {% if not on_bag_page and not on_profile_page and on_superuser_dashboard_page %}
      var admin = "{{ request.user.is_superuser }}"
      console.log(admin == "True")
      if (admin != "True"){
        if (navigator.userAgent.match(/Android/i)
            || navigator.userAgent.match(/webOS/i)
            || navigator.userAgent.match(/iPhone/i)
            || navigator.userAgent.match(/iPad/i)
            || navigator.userAgent.match(/iPod/i)
            || navigator.userAgent.match(/BlackBerry/i)
            || navigator.userAgent.match(/Windows Phone/i)) {
          const $targetEl = document.getElementById('popover-grand-total')
          const $triggerEl = document.getElementById('popover-trigger')
          const options = {
              placement: 'bottom',
              triggerType: 'click',
              offset: 150,
          };
          const popover = new Popover($targetEl, $triggerEl, options);
        } else {
          const $targetEl = document.getElementById('popover-grand-total')
          const $triggerEl = document.getElementById('popover-trigger')
          const options = {
              placement: 'right',
              triggerType: 'hover',
              offset: 10,
          };
          const popover = new Popover($targetEl, $triggerEl, options);
        }
      }
      {% endif %}
   </script>
    {% endblock %}
  </body>
</html>